.NET CLIENT/WCF_Client/SOO_CLIENT/Web References/CustomerService/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://soa.bcu.ac.uk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CustomerService" targetNamespace="http://soa.bcu.ac.uk/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/customer?xsd=1" namespace="http://soa.bcu.ac.uk/" />
    </xsd:schema>
  </types>
  <message name="getAll">
    <part name="parameters" element="tns:getAll" />
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="tns:getAllResponse" />
  </message>
  <message name="addCustomer">
    <part name="parameters" element="tns:addCustomer" />
  </message>
  <message name="addCustomerResponse">
    <part name="parameters" element="tns:addCustomerResponse" />
  </message>
  <message name="getCustomer">
    <part name="parameters" element="tns:getCustomer" />
  </message>
  <message name="getCustomerResponse">
    <part name="parameters" element="tns:getCustomerResponse" />
  </message>
  <message name="updateCustomer">
    <part name="parameters" element="tns:updateCustomer" />
  </message>
  <message name="updateCustomerResponse">
    <part name="parameters" element="tns:updateCustomerResponse" />
  </message>
  <message name="deleteCustomer">
    <part name="parameters" element="tns:deleteCustomer" />
  </message>
  <message name="deleteCustomerResponse">
    <part name="parameters" element="tns:deleteCustomerResponse" />
  </message>
  <message name="getCustomerName">
    <part name="parameters" element="tns:getCustomerName" />
  </message>
  <message name="getCustomerNameResponse">
    <part name="parameters" element="tns:getCustomerNameResponse" />
  </message>
  <portType name="CustomerServiceInterface">
    <operation name="getAll">
      <input wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/getAllRequest" message="tns:getAll" />
      <output wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/getAllResponse" message="tns:getAllResponse" />
    </operation>
    <operation name="addCustomer">
      <input wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/addCustomerRequest" message="tns:addCustomer" />
      <output wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/addCustomerResponse" message="tns:addCustomerResponse" />
    </operation>
    <operation name="getCustomer">
      <input wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/getCustomerRequest" message="tns:getCustomer" />
      <output wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/getCustomerResponse" message="tns:getCustomerResponse" />
    </operation>
    <operation name="updateCustomer">
      <input wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/updateCustomerRequest" message="tns:updateCustomer" />
      <output wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/updateCustomerResponse" message="tns:updateCustomerResponse" />
    </operation>
    <operation name="deleteCustomer">
      <input wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/deleteCustomerRequest" message="tns:deleteCustomer" />
      <output wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/deleteCustomerResponse" message="tns:deleteCustomerResponse" />
    </operation>
    <operation name="getCustomerName">
      <input wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/getCustomerNameRequest" message="tns:getCustomerName" />
      <output wsam:Action="http://soa.bcu.ac.uk/CustomerServiceInterface/getCustomerNameResponse" message="tns:getCustomerNameResponse" />
    </operation>
  </portType>
  <binding name="CustomerServicePortBinding" type="tns:CustomerServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getAll">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCustomerName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CustomerService">
    <port name="CustomerServicePort" binding="tns:CustomerServicePortBinding">
      <soap:address location="http://localhost:8084/customer" />
    </port>
  </service>
</definitions>